torch==2.6.0
torchvision==0.21.0
numpy==1.26.4
pillow
opencv-python
plyfile
huggingface_hub
safetensors
natsort
einops

gradio
trimesh
matplotlib
scipy
viser
roma
evo
accelerate
onnxruntime
pycolmap==3.10.0
pyceres
scikit-image
scikit-learn
open3d
git+https://github.com/jytime/LightGlue.git#egg=lightglue